* {
    text-align: left;
}

div.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.card {
    width: 80%;
    height: 50px;
    background-color: white;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    cursor: pointer;
}

#title {
    padding-left: 10px;
    font-size: 20px;
}

h3 {
    margin: 20px 10% 10px 10%;
    text-align: left;
}
