* {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    color: inherit;
    text-decoration: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: auto;
}
    i.icon {
        color: #BBBBBB;
        font-size: 28px;
        padding-right: 10px;
        text-decoration: none;
    }
    i.icon:hover {
        color: #001972;
    }
    i.icon-active {
        color: #001972;
        font-size: 28px;
        padding-right: 10px;
        text-decoration: none;
    }

.icons {
    padding-left: 20px;
}

.content {
    padding-top: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer {
    text-align: center;
    font-size: 10px;
    padding: 10px 10px 10px 10px;
}