div.card {
    border-radius: 4px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #001972;
}

div.header h2 {
    font-size: medium;
}


div.header p {
    font-size: smaller;
}

div.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
