div.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10% 10px 10%;
}

div p.intro {
    max-width: 600px;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
}

div.about img {
    margin: 20px 20px 20px 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}
