div.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 10% 10px 10%;
}

div.intro {
    max-width: 600px;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

div.spacer {
    width: 20px;
    height: 20px;
}

div.about img {
    width: 100%;
    max-width: 500px;
    height: auto;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
