.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 10px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 1%;
    left: 1%;
    right: 1%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
}

div.navbox {
    padding: 0px 10px 0px 10px;
    min-width: 100px;
}

h3.navtext {
    border-bottom: solid 3px #001972;
    display: inline-block;
}

.icons {
    padding: 0px 10px 0px 10px;
}

.icon {
    color: #BBBBBB;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}
.icon:hover {
    color: #001972;
}
.active-icon {
    color: #001972;
    font-size: 24px;
    padding-right: 10px;
    text-decoration: none;
}
