.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 50px;
    top: 0%;
    left: 0%;
    right: 0%;
}

div.picname {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 18px;
    padding: 10px 5px 5px 10px;
}

div.navbox {
    display: flex;
    flex-direction: row;
}

.navLink {
    color: #BBBBBB;
    font-size: 18px;
    padding: 10px 5px 5px 10px;
}
.navLink:hover {
    font-size: 18px;
    padding: 10px 5px 5px 10px;
    border-bottom: solid 3px #001972;
}
.active-navLink {
    font-size: 18px;
    border-bottom: solid 3px #001972;
    padding: 10px 5px 5px 10px;
}

img {
    height: 50px;
    width: auto;
}
